#aboutHeader {
    background: linear-gradient(to bottom, rgba(28, 34, 48, 1) 0%, rgba(23, 30, 51, 0.36) 100%), url('../images/header-about.jpg') no-repeat center center scroll;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    h1 {
        margin-top: 100px;
    }
    .divider {
        border: 0;
        height: 1px;
        background: $accent;
        width: 200px;
    }
}

.founders-info {
    .frame {
        position: relative;
        overflow: hidden;
        padding-bottom: 100%;
        img {
            height: 100%;
            width: 100%;
            position: absolute;
            object-fit: cover;
        }
    }
    h5 {
        color: $grey;
    }
}

@media (max-width: 767px) {
    .header-half {
        height: 300px;
    }
    .divider {
        display: none;
    }
    .about-container {
        h1 {
            margin-top: 50px;
        }
    }
    .founders-info {
        .frame {
            position: relative;
        }
        #founderOne,
        #founderTwo {
            width: 100%;
            height: 300px;
        }
    }
}

@media (min-width: 768px) {
    .about-container {
        h1 {
            margin-top: 100px;
        }
    }
}

@media (min-width: 992px) {
    .about-container {
        h1 {
            margin-top: 100px;
        }
    }
}