.header-half {
    height: 500px;
    width: 100%;
    background-color: transparent;
    background: linear-gradient(to bottom, rgba(28, 34, 48, 1) 0%, rgba(23, 30, 51, 0.36) 100%), url('../images/header-about.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    h1 {
        text-transform: uppercase;
        margin-top: 100px;
        text-transform: uppercase;
    }
    .divider {
        border: 0;
        height: 1px;
        background: $accent;
        width: 200px;
    }
}

.founders-info {
    .item {
        position: relative;
    }
    #founderOne {
        background: url("../images/founder1.jpg") no-repeat;
        width: 100%;
        height: 500px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #founderTwo {
        background: url("../images/founder2.jpg") no-repeat;
        width: 100%;
        height: 500px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    h5 {
        color: $grey;
    }
}

@media (max-width: 767px) {
    .header-half {
        height: 300px;
    }
    .divider {
        display: none;
    }
    .about-container {
        h1 {
            margin-top: 50px;
        }
    }
    .founders-info {
        .item {
            position: relative;
        }
        #founderOne,
        #founderTwo {
            width: 100%;
            height: 300px;
        }
    }
}

@media (min-width: 768px) {
    .about-container {
        h1 {
            margin-top: 100px;
        }
    }
}

@media (min-width: 992px) {
    .about-container {
        h1 {
            margin-top: 100px;
        }
    }
}