footer {
    background: linear-gradient(to bottom, rgba(23,30,51,0.8) 0%,rgba(23,30,51,0.8) 1%,rgba(23,30,51,0.8) 100%), url('../images/footer-background.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
    .footer-top {
        .quicklinks {
            list-style: none;
           li {
               display: inline;
           }
        }
    }
    .footer-bottom {
       background-color: $background-dark;
       height: 100px;
      
    }
}