html,
body {
    margin: 0;
}

body {
    background-color: $background;
    @include main-text;
    font-size: 18px;
    color: $text;
}

html {
    width: 100%;
    height: 100%;
}

h1 {
    @include headline;
    font-size: 36px;
    text-align: center;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 22px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    @media(min-width: 768px) {
        font-size: 18px;
        line-height: 1.8;
    }
}

section {
    padding: 50px 0 10px;
    @media(min-width: 992px) {
        padding: 100px 0 40px;
    }
}

.main-container {
    width: 100% !important;
}

.hero {
    color: $white;
    text-transform: uppercase;
    @include hero;
    @media (min-width: 992px) {
        font-size: 60px;
    }
}

.divider {
    border: 0;
    height: 1px;
    background: $accent;
    width: 200px;
}

.headline {
    text-transform: uppercase;
}

.header-half {
    height: 500px;
    width: 100%;
    background-color: transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.half-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.padding-5 {
    padding: 0 5px !important;
}

@media (min-width: 992px) {
    h1 {
        font-size: 45px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 30px;
    }
    h4 {
        font-size: 26px;
    }
    h5 {
        font-size: 24px;
    }
    .main-container {
        width: 70% !important;
    }
}