/*------ HEADER STYLING ------*/

.header {
    height: 100vh;
    width: 100%;
    background-color: transparent;
    background: linear-gradient(to bottom, rgba(28, 34, 48, 1) 0%, rgba(23, 30, 51, 0.36) 100%), url('../images/header-background.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    h3 {
        font-weight: 300;
        color: $white;
        line-height: 37px;
    }
    .btn-main {
        @include button;
        &:hover {
            @include button-hover;
            transition: all 0.4s;
        }
    }
    .divider {
        border: 0;
        height: 1px;
        background: $accent;
        width: 200px;
    }
}

.main-content {
    .item {
        position: relative;
        overflow: hidden;
        img {
            -moz-transition: all 0.6s;
            -webkit-transition: all 0.6s;
            transition: all 0.6s;
        }
        &:hover {
            img {
                -moz-transform: scale(1.2);
                -webkit-transform: scale(1.2);
                transform: scale(1.2);
            }
        }
    }
    #bestOfBritain {
        background: url("../images/best_of_britain.jpg") no-repeat;
        width: 100%;
        height: 360px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #concierge {
        background: url("../images/concierge.jpg") no-repeat;
        min-width: 360px;
        width: 100%;
        height: 360px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #exclusiveAccess {
        background: url("../images/exclusive_access.jpg") no-repeat;
        min-width: 360px;
        width: 100%;
        height: 360px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #bestOfTheRest {
        background: url("../images/best_of_the_rest.jpg") no-repeat;
        min-width: 360px;
        width: 100%;
        height: 360px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .centered-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        text-transform: uppercase;
        text-align: center;
    }
}

@media (min-width: 992px) {
    #concierge,
    #exclusiveAccess #bestOfTheRest {}
}