
/*------ FONTS ------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700');

/*------ MIXINS ------*/
@mixin btn-main {
    width: 260px;
    height: 70px;
    border-radius: 5px;
    background-color: $accent;
    color: $white;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
}

@mixin hero {
    font-family: 'Lora', serif;
    font-weight: 400;
}

@mixin main-text {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
}

@mixin headline {
    font-family: 'Lato', sans-serif; 
    font-weight: 400;
}
