
/*------ FONTS ------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700');

/*------ MIXINS ------*/
@mixin button {
    width: 240px;
    height: 60px;
    border-radius: 5px;
    background-color: $accent;
    color: $white;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    text-transform: uppercase;
}

@mixin hero {
    font-family: 'Lora', serif;
    font-weight: 400;
}

@mixin main-text {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
}

@mixin headline {
    font-family: 'Lato', sans-serif; 
    font-weight: 400;
}

@mixin linear-gradient($direction, $color-stops) {
    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
    background: linear-gradient($direction, $color-stops);
  }