/*------ NAVBAR STYLING ------*/

#mainMenu {
    padding: 30px 16px;
    -webkit-transition: padding-top 0.6s, padding-bottom 0.6s;
    -moz-transition: padding-top 0.6s, padding-bottom 0.6s;
    transition: padding-top 0.6s, padding-bottom 0.6s;
    border: none;
    background-color: transparent;
    #logo {
        display: none;
    }
    .phoneNumbers {
        display: none;
    }
    .navbar-nav {
        .nav-item {
            .nav-link {
                color: white;
                @include main-text;
                font-size: 16px;
                text-transform: uppercase;
                padding: 15px 10px;
                &:hover,
                &:focus {
                    color: $accent;
                    background-color: transparent;
                }
            }
        }
        .active {
            a {
                color: $accent;
                background-color: transparent;
                font-weight: 600;
                &:hover,
                &:focus {
                    color: $accent;
                    background-color: transparent;
                }
            }
        }
    }
    &.navBackground {
        background-color: rgba($background-dark, .8); // transition: background-color .5s linear;
        // -moz-transition: background-color .5s linear;
        // -webkit-transition: background-color .5s linear;
        // -ms-transition: background-color .5s linear;
    }
    &.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: rgba($background-dark, .8);
        #logo {
            -moz-transform: scale(0.9);
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
        }
    }
}

/*------ MEADIA QUERIES ------*/

@media (max-width: 768px) {
    #mainMenu {
        padding: 20px 0;
        #logo {
            display: none;
        }
        .phoneNumbers {
            display: none;
        }
        .navbar-toggler {
            font-size: 30px;
            right: 0;
            padding: 13px;
            margin-left: 10px;
            text-transform: uppercase;
            color: white;
            border: 0;
            background-color: transparent;
            border: none;
            outline: none;
            text-decoration: none;
        }
        .navbar-collapse {
            // -webkit-transition: all 0.3s;
            // -moz-transition: all 0.3s;
            // transition: all 0.3s;
        }
    }
}

@media(min-width:992px) {
    // .navbar-collapse {
    //     background-color: transparent;
    // }
    #mainMenu {
        padding: 30px 16px;
        -webkit-transition: padding-top 0.6s, padding-bottom 0.6s;
        -moz-transition: padding-top 0.6s, padding-bottom 0.6s;
        transition: padding-top 0.6s, padding-bottom 0.6s;
        border: none;
        background-color: transparent;
        #navLinks {
            margin-top: 100px;
        }
        .phoneNumbers {
            color: white;
            display: block;
            position: absolute;
            top: 55px;
            z-index: 3;
            text-align: left;
            right: 5%;
            .flag {
                width: 22px;
                height: auto;
                margin-right: 10px;
            }
            p {
                margin-bottom: 0;
            }
        }
        #logo {
            display: block;
            position: absolute;
            top: 15px;
            z-index: 2;
            width: 140px;
            margin-left: -100px;
            left: 51%;
            -webkit-transition: all 0.6s;
            -moz-transition: all 0.6s;
            transition: all 0.6s;
        }
        #logo img {
            width: 100%;
            height: auto;
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: white;
                    @include main-text;
                    font-size: 14px;
                    text-transform: uppercase;
                    padding: 10px 20px !important;
                    -webkit-transition: all 0.6s;
                    -moz-transition: all 0.6s;
                    transition: all 0.6s;
                    &:hover,
                    &:focus {
                        color: $accent;
                        background-color: transparent;
                    }
                }
            }
            .active {
                a {
                    color: $accent;
                    background-color: transparent;
                    font-weight: 600;
                    &:hover,
                    &:focus {
                        color: $accent;
                        background-color: transparent;
                    }
                }
            }
        }
        &.navbar-shrink {
            padding-top: 0;
            padding-bottom: 0;
            background-color: rgba($background-dark, .8);
            #logo {
                -moz-transform: scale(0.9);
                -webkit-transform: scale(0.9);
                transform: scale(0.9);
            }
        }
    }
}